#{extends 'master.html' /} 
#{set title:'EasyFix - Signup'/}
#{set menu_item:'menu_signup' /} 
#{set moreScripts:'bootstrap.min.js' /}
         <div class="container"><p>
	   </p>


 <div class="col-md-1">
 </div>
 <div class="col-md-10">
	 
				 
 		<div class="panel panel-default">
 		  <div class="panel-body">
 			  <center>
 		    <h3>Congratulations! You successfully created an account.</h3>
		</center>
	</br>
		
 			  <center>
 		    <h4>A confirmation email has been sent to your email adress along with an your validation link. <p></p>Please click on the link to validate your email adress.</h4>
		</center>
		
			
			 
   </div>
			 
     </div>
	 
	 </div>
	</div>