<!DOCTYPE html>
<html>
<head>
<style>
table,th,td {
	border: 1px solid black;
	border-collapse: collapse;
}
th,td {
	padding: 5px;
}
</style>
</head>
<body>
	<p>
		Dear <b>${customer.firstName}</b>,
	</p>
	<p>
		<strong>You have successfully booked Appointment.</strong><br>
	</p>
	<p>Find below details</p>


	<table style="width: 300px">
		<tr>
			<th>Description</th>
			<th>Date/Time</th>
		</tr>
		<tr>
			<td>${notes}</td>
			<td>${appointment.dateTimeStart}</td>
		</tr>
	</table>
		<p>
		<strong>Thank you for using our services!</strong><br>
	</p>
</html>