.middlePageContentContainer {
float: left;

	border: 1px solid blue;
	width: 100%;
	/*text-align: center;*/
}

.manufacturerListItem {
	float: left;
	/*border: 1px solid red;*/
	text-align: center;
	margin: 20px;
	width: 200px;
}

.manufacturerListItem .manufacturerLogo {
	width: 150px;
	height: 150px;
	border: 0px;
}

.manufacturerListItem .manufacturerName {
	float: left;
	width: 100%;
	 text-align : center;
	/*border: 1px solid black;*/
	text-align: center;
}

.repairListItem{
	float: left;
	text-align: left;
	padding: 10px;
	margin: 10px;
}

.repairListItem img.repairLogo
{
	float: left;
	border: none;
	margin: 2px;
	height: 80px;
	weight: 50px;
}

.repairListItem .repairHeading
{
	border: 1px solid red;
	/*float: left;*/
	border: none;
	margin: 2px;
	font-weight: bold;
}

.repairListItem .details
{
	float: left;
	border: none;
	margin: 2px;
	height: 80px;
	weight: 50px;
}