#{extends 'master.html' /} #{set title:'EasyFix - About Us' /}#{set menu_item:'menu_aboutUs' /} 

<!-- ABOUT -->
        <section id="about">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3>About Us</h3>
              </div>
              <div class="col-md-6 col-sm-6 wow ">
                <p>EasyFix is a cost effective smartphone repairing service to help people fixing their broken phones with highly reliable and skilled technician at their doorstep.</p>
                <p>We represent an innovative business idea on providing cost-effective smartphone repairing service by offering high-quality tech support services at customers' preferable places i.e. home, office, public place etc.</p>
              </div>
              <div class="col-md-6 col-sm-6 wow ">
                <p> In addition, we offer repairing companies and self-employed technicians promoting and advertising their services. The aftermath of EasyFix offering and activities is high revenues as it successfully combines brokerage, subscription and advertisement models.</p>

              </div>
            </div>
          </div>
        </section>
