#{extends 'master.html' /} #{set title:'EasyFix - Q&A' /}#{set menu_item:'menu_QnA' /} 

        <section id="about">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3>Q&A</h3>
              </div>
              <div class="col-md-6 col-sm-6">
				  <h2>Why EasyFix?</h2>
				  
                <p>EasyFix provides you reliable service with two week warrenty policy of repair. Our primary goal is your satisfaction.</p>
				<h2>How can I trust EasyFix?</h2>
				
                <p>We provide post repair warrenty for two weeks and during this time we will provide service for free for the same repaired part.</p>
              </div>
              <div class="col-md-6 col-sm-6">
               <h2>Why should I choose EasyFix?</h2>
			   <p>We provide repair at your foot step. You can select the location and we will come to you to repair your device.</p>
               <h2>What kind of parts do you use?</h2>
			   <p>We only provide ohigh quality parts from our certified partners.</p>

              </div>
            </div>
          </div>
        </section>