#{extends 'master.html' /} 
#{set title:'EasyFix - Payment Confirmation'/}
#{set moreScripts:'bootstrap.min.js' /}
         <div class="container"><p>
	   </p>


 <div class="col-md-1">
 </div>
 <div class="col-md-10">
				 
 		<div class="panel panel-default">
 		  <div class="panel-body">
 			  <center>
 		    <h3  style="color:green">Payment Confirmation</h5>
		</center>
	</br>
		<section id="payment">
			
</br>
   
	<center>
    <h3>Thank you for using our services!</h3>
	<h4>A payment confirmation email has been sent to your email along with repair and payment details.</h4>
	
</center>
		
		
		
			</section>
		
		</br>
		
			<!-- Button -->
		
		  
		
	    
		
			  </div>

	
			 <!-- 4 Info Columns -->
		  
	</div>
  
			
			
			
			
				<!-- Big Column #3 -->
			  <div class="col-md-2">
			  </div>
			 
			     </div>
			 
   </div>