#{extends 'master.html' /} #{set title:'EasyFix - Payment'/} #{set
menu_item:'menu_payment' /} #{set moreScripts:'bootstrap.min.js' /}
<script type="text/javascript">
	$(document).ready(function(){
	    $(".tooltips button").tooltip({
	        placement : 'top'
	    });
		
	</script>

<!-- #{include 'breadcrumbs.html'/} -->
<div class="container">
<!-- Big Column #1 -->
 <div class="col-md-2">
 </div>
 <!-- Big Column #2 -->
 <div class="col-md-8">
	 
				 
 		<div class="panel panel-default">
 		  <div class="panel-body">
 			  <center>
 		    <h3>Payment</h3>
		</center>
	</br>
		<section id="payment">
			
		
		 <center>
		<div class="progress" style='margin-left:50px; margin-right:50px;'>
		  <div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
		    Step 2/3
		  </div>
		</div>
		
		
	    
	</center>
</br4>
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
    <h3>Summary</h3>
	<h4>Please review the following details for this transaction.</h4>
	
	<table class="table table-bordered">
	  <tr class="active"><th>Description</th><th>Price</th>
		  <tr><td>${deviceRepair.description}</td><td>${deviceRepair.getPriceWithoutVAT()} &euro;</td>
			  <tr><td>VAT</td><td>${deviceRepair.getVAT()} &euro;</td>
				  <tr><th>Total</td><td>${deviceRepair.price} &euro;</th>
	</table>
	
	
	    <h3>Payment details</h3>
		<h4>Please enter your payment info below.</h4>
	    	<form class="form-horizontal" id="pay" action="/Payment/paymentDetails"
							method="post">
		<fieldset>

		<!-- Form Name -->
	    
		<legend></legend>

		<!-- Multiple Radios -->
		<div class="control-group">
			
			<div class="row">
			
			
		    <div class="col-md-4">
		    
			
		  <h4>Payment Options:</h4>
		  </div>
		  
		  <div class="controls">
			  
  		    <div class="col-md-2">
			  
			  
		    <label class="radio" for="payopt-0">
		      <input type="radio" name="payopt" id="payopt-0" value="Visa" checked="checked" required="required">
		      Visa
		    </label>
			</div>
			<div class="col-md-3">
			
		    <label class="radio" for="payopt-1">
		      <input type="radio" name="payopt" id="payopt-1" value="Mastercard" required="required">
		      Mastercard
		    </label>
			</div>
			
			<div class="col-md-3">
		    <label class="radio" for="payopt-2">
		      <input type="radio" name="payopt" id="payopt-2" value="Paypal" required="required">
		      Paypal
		    </label>
			</div>
			 </div>
			
		</div>
	</br>
		<div class="row">
			<div class="col-md-4">
	  		   <h4>Card Holder's Name:</h4>
				</div>
			<div class="col-md-4">
            <input id="firstname" name="firstname" type="text" value="${customer.firstName}" class="form-control" placeholder="First Name" title="First name" required="">
					       </div>
			   <div class="col-md-4">
            <input id="lastname" name="lastname" type="text" value="${customer.lastName}" class="form-control" placeholder="Last Name" title="Last name" required="">
				   
		     </div>
     </div>
     <input type="number" name="customerId" id="customerId" value=${customer.id} hidden="true">
							<input type="number" name="repairId" id="repairId" value=${deviceRepair.id} hidden="true">
							
	  <h4>Credit Card Number:</h4>
		<div class="row">
		                        <div class="col-md-3">
		                            <input id="cd1" name="cd1" type="text" class="form-control" autocomplete="off" maxlength="4" pattern="\d{4}" title="First four digits" required="">
		                        </div>
		                        <div class="col-md-3">
		                            <input id="cd2" name="cd2" type="text" class="form-control" autocomplete="off" maxlength="4" pattern="\d{4}" title="Second four digits" required="">
		                        </div>
		                        <div class="col-md-3">
		                            <input id="cd3" name="cd3" type="text" class="form-control" autocomplete="off" maxlength="4" pattern="\d{4}" title="Third four digits" required="">
		                        </div>
		                        <div class="col-md-3">
		                            <input id="cd4" name="cd4" type="text" class="form-control" autocomplete="off" maxlength="4" pattern="\d{4}" title="Fourth four digits" required="">
		                        </div>
		                    </div>
							<div class="row">
							 <div class="col-md-6"> 
						   <h4>Card Expiry Date:</h4>
						    </div>
							<div class="col-md-6"> 
								<h4>Card CVV:</h4>
							</div>
							</div>
							
								<div class="row">
							
							
							
						         
									   <div class="col-md-2">  
									   
						             <div class="controls">
						               <select name="expiry_month" id="expiry_month">
						                 <option value="01">Jan</option>
						                 <option value="02">Feb</option>
						                 <option value="03">Mar</option>
						                 <option value="04">Apr</option>
						                 <option value="05">May</option>
						                 <option value="06">June</option>
						                 <option value="07">July</option>
						                 <option value="08">Aug</option>
						                 <option value="09">Sep</option>
						                 <option value="10">Oct</option>
						                 <option value="11">Nov</option>
						                 <option value="12">Dec</option>
						               </select>
									    </div>
										</div>
									   <div class="col-md-4">  
									   
						               <select name="expiry_year">
						                 <option value="14">2014</option>
						                 <option value="15">2015</option>
						                 <option value="16">2016</option>
						                 <option value="17">2017</option>
						                 <option value="18">2018</option>
						                 <option value="19">2019</option>
						                 <option value="20">2020</option>
						                 <option value="21">2021</option>
						                 <option value="22">2022</option>
						                 <option value="23">2023</option>
						               </select>
									    </div>
										
										  <div class="col-md-3">  
		  		                            <input id="password" name="password" type="password" placeholder="CVV" class="form-control" autocomplete="off" maxlength="3"  title="cvv" required="">
											  
											  </div>
						             <div class="col-md-3">  
								   </div>
								      </div>
     
						         
		
		
	  </div>
		
		</div>
		

		</fieldset>
		
								<span class="buttonright">	<button type="submit" id="continuepayment"  name="continue payment" class="btn btn-success">Continue</button></span>
		</form>
		
		    <span>
			 	<a href="${'/Feedback/test'}"><button id="back" name="back" class="btn btn-primary">Back to Feedback</button></a>
			   </span>
		
		  </div>
		  
		  
		  
		
	    <div class="col-md-1">
	    </div>
		
		
	</div>
	</div>
	</div></div>