#{extends 'master.html' /} #{set title:'EasyFix - Repair Appointment Confirmation' /}

       <div class="container"><p>
	   </p>


 <div class="col-md-1">
 </div>
 <div class="col-md-10">
	 
				 
 		<div class="panel panel-default">
 		  <div class="panel-body">
 			  <center>
 		    <h3>Congratulations! You successfully booked a repair appointment.</h3>
		</center>
	</br>
		
 			  <center>
 		    <h4>A confirmation email has been sent to your account along with appointment details </br>and technician's contact information.</h3>
		</center>
		
			
			 
   </div>
			 
     </div>
	 
	 </div>
	</div>