#{extends 'master.html' /} #{set title:'EasyFix - Technicians Availability' /}
#{set menu_item:'menu_repair' /} #{set moreScripts:'bootstrap.min.js,moment.js,bootstrap-datetimepicker.js' /}
<script type="text/javascript">
	$(document).ready(function() {
		/*$(".tooltips button").tooltip({
			placement : 'top'
		});*/
		
		$('#datepicker').datetimepicker({
            pickTime: false
        });
		$('#timepicker').datetimepicker({
            pickDate: false
        });
	});
</script>

#{include 'breadcrumbs.html'/}

       <div class="container"><p>
	   </p>


 <div class="col-md-1">
 </div>
 <div class="col-md-10">
	 
				 
 		<div class="panel panel-default">
 		  <div class="panel-body">
 			  <center>
 		    <h3>Check technicians availability</h3>
		</center>
	</br>
		
		 <center>
		<div class="progress" style='margin-left:50px; margin-right:50px;'>
		  <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
		    Step 1/3
		  </div>
		</div>
	</center>
			<form class="form-horizontal" action="${'/Repair/'+maker+'/'+deviceModel+'/'+repair+'/Technicians Availability/Personal Information'}" method="post">
			<fieldset>

			<!-- Button Drop Down -->
			
			 <div class="col-md-5">
				 <center>
			<div class="control-group">
			  <label class="control-label" for="buttondropdown">Enter your location</label>
			  <div class="controls">
			    <div class="input-append">
			      <input id="buttondropdown" name="buttondropdown" class="input-xlarge" placeholder="your location" type="text" required="">
			      <div class="btn-group">
			        <button class="btn dropdown-toggle" data-toggle="dropdown">
          
			          <span class="caret"></span>
			        </button>
			        <ul class="dropdown-menu">
			          <li><a href="#">Option one</a></li>
			          <li><a href="#">Option two</a></li>
			          <li><a href="#">Option three</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>
			</div>

			<!-- Button Drop Down -->
			<div class="control-group">
			  <label class="control-label" for="buttondropdown">Choose technician</label>
			  <div class="controls">
			    <div class="input-append">
			      <input id="buttondropdown" name="buttondropdown" class="input-xlarge" placeholder="technician" type="text" required="">
			      <div class="btn-group">
			        <button class="btn dropdown-toggle" data-toggle="dropdown">
          
			          <span class="caret"></span>
			        </button>
			        <ul class="dropdown-menu">
			          <li><a href="#">Option one</a></li>
			          <li><a href="#">Option two</a></li>
			          <li><a href="#">Option three</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>
			</div>
		</center>
			 </div>
			  <div class="col-md-2"> </div>
			 
			 <div class="col-md-5">
				 <center>

			<!-- Text input-->

			<div class='col-sm-7'>
			<label class="control-label" for="Date">Date</label>
			<div class="form-group">
                <div class='input-group date' id='datepicker' data-date-format="YYYY/MM/DD">
                    <input id="Date" name="Date" type='text' class="form-control" readonly="readonly" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
            </div>

			<!-- Text input-->
			<div class='col-sm-7'>
			<label class="control-label" for="Time">Time</label>
            <div class="form-group">
                <div class='input-group date' id='timepicker'>
                    <input id="Time" name="Time" type='text' class="form-control" readonly="readonly" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>
			
		</center>
			 </div>
			
			

			</fieldset>
			
		</br>
			<center>
			<iframe src="https://www.google.com/maps/embed/v1/place?q=Tu%20M%C3%BCnchen%2C%20Munich%2C%20Allemagne&key=AIzaSyDQCZq4LTDm1WF7nZYcYoqD9NJkS8l7Xps" width="850" height="400" frameborder="0" style="border:0"></iframe></center>
			
		    <div class="col-md-1">
				</div>
			
		    <div class="col-md-2">
			<!-- Button -->
			<div class="control-group">
			  <label class="control-label" for="back"></label>
			  <div class="controls">
			    <button id="back" name="back" class="btn btn-primary">Back</button>
			  </div>
			</div>
			
			</div>
			
		    <div class="col-md-6">
				</div>
				<div class="col-md-2" align="right">
					

			<!-- Button -->
			<div class="control-group">
			  <label class="control-label" for="singlebutton"></label>
			  <div class="controls">
			  <input type="hidden" name="repair_id" value="${repair_id}" />
			  <input type="submit" value="Continue" class="btn btn-primary" />
			    <a href="${'/Repair/'+maker+'/'+deviceModel+'/'+repair+'/Technicians Availability/Personal Information'}"><button id="singlebutton" name="singlebutton" class="btn btn-primary">Continue</button></a>
			  </div>
			  </form>
			</div>
		    <div class="col-md-1">
				</div>
			
			
			</div>
	
			
			
			
 		  </div>
 		</div>
	 			 </div>
	
				 
			 
   </div>
