#{extends 'master.html' /} #{set title:'EasyFix - Review Appointment' /}
#{set menu_item:'menu_repair' /} #{set moreScripts:'bootstrap.min.js' /}
<script type="text/javascript">
	$(document).ready(function() {
		$(".tooltips button").tooltip({
			placement : 'top'
		});
	});
</script>
#{include 'breadcrumbs.html'/}

   <div class="container"><p>
	   </p>


 <div class="col-md-1">
 </div>
 <div class="col-md-10">
	 
				 
 		<div class="panel panel-default">
 		  <div class="panel-body">
 			  <center>
 		    <h3>Review your booking</h3>
		</center>
	</br>
		
		 <center>
		<div class="progress" style='margin-left:50px; margin-right:50px;'>
		  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
		    Step 3/3
		  </div>
		</div>
	</center>
		
</br>
		 <!-- place holder-->
		 <div class="col-md-1"> </div>

			 <div class="col-md-5">	 
				 <!-- left col -->
				<h3>Repair details</h3>	
				
				
					<div class="col-md-4">
				    <h4>Repair:</h4>
						<h4>Cost:</h4>
						<h4>Duration:</h4>
						<h4>Location:</h4>
				   </div>
					<div class="col-md-8" align="right">
				    <h6>#{if maker!=null && model !=null && repair!=null}${maker} ${model} ${repair}#{/if}</h6>
					<h6>#{if repairCost!= null}${repairCost} &#8364;#{/if}</h6> 
					<h6>#{if repairTime!=null}${repairTime/1000} Min#{/if}</h6> 
					<h6>#{if location!=null}${location}#{/if}</h6> 
				</div>	
			 </div>
			<!-- Right col-->
		<div class="col-md-5">
		<h3>Appointment details</h3>
			
		 <!-- place holder-->

		
		<div class="col-md-4">
	    <h4>Technician:</h4>
			<h4>Contact:</h4>
			<h4>Time:</h4>
			<h4>Date:</h4>
	   </div>
		<div class="col-md-8" align="right">
	    <h6>#{if technicianName!=null}${technicianName}#{/if}&nbsp;</h6>
		<h6>#{if technicianContact!=null}${technicianContact}#{/if}&nbsp;</h6> 
		<h6>#{if time!=null}${time}#{/if}&nbsp;</h6>
		<h6>#{if date!=null}${date}#{/if}&nbsp;</h6>
		  
		</div>
		
		
		
		  
	 </div>
	 <div class="col-md-10" style="width: 100%;"> </div>
	<div class="col-md-4" style="margin: 0 0 0 80px; width: 100%;">
	    <h4>Additional Information:</h4>
	   </div>	
		<div class="col-md-6" align="left" style="margin: 0 0 0 80px; width:80%;">
	    <h6>#{if notes!=null}${notes}#{/if}&nbsp;</h6>
		  
		</div>
			
		    <div class="col-md-10">
		    <br />&nbsp;
				</div>
			
		    <div class="col-md-2" style="margin-left: 100px;">
			<!-- Button -->
			<div class="control-group">
			  <label class="control-label" for="back"></label>
			  <div class="controls">
			    <button id="back" name="back" class="btn btn-primary" onclick="Javascript:window.history.back();">Back</button>
			  </div>
			</div>
			
			</div>
			
		    <div class="col-md-5">
				</div>
				<div class="col-md-2" align="right">
					

			<!-- Button -->
			<div class="control-group">
			  <label class="control-label" for="singlebutton"></label>
			  <div class="controls">
			  <form action="/BookRepair/appointmentConfirmation" method="post">
			  <input type="hidden" name="repair_id" value="${repair_id}" />
			  <input type="hidden" name="technician_id" value="${technician_id}" />
			  <input type="hidden" name="date" value="${date}" />
			  <input type="hidden" name="time" value="${time}" />
			  <input type="hidden" name="notes" value="${notes}" />
			  <input type="hidden" name="location" value="${location}" />
			  <input type="hidden" name="longitude" value="${longitude}" />
			  <input type="hidden" name="latitude" value="${latitude}" />
			    <input type="submit" id="singlebutton" name="singlebutton" class="btn btn-success" value="Book Repair" />
			    </form>
			  </div>
			  
			</div>
		    <div class="col-md-2">
				</div>
			
			 
   </div>
			 
     </div>
	 
	 </div>
	</div>
     </div>