#{extends 'master.html' /} #{set title:'EasyFix - Review Appointment' /}
#{set menu_item:'menu_repair' /} #{set moreScripts:'bootstrap.min.js' /}
<script type="text/javascript">
	$(document).ready(function() {
		$(".tooltips button").tooltip({
			placement : 'top'
		});
	});
</script>
#{include 'breadcrumbs.html'/}

   <div class="container"><p>
	   </p>


 <div class="col-md-1">
 </div>
 <div class="col-md-10">
	 
				 
 		<div class="panel panel-default">
 		  <div class="panel-body">
 			  <center>
 		    <h3>Review your booking</h3>
		</center>
	</br>
		
		 <center>
		<div class="progress" style='margin-left:50px; margin-right:50px;'>
		  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
		    Step 3/3
		  </div>
		</div>
	</center>
		
</br>
		 <!-- place holder-->
		 <div class="col-md-1"> </div>

			 <div class="col-md-5">	 
				 <!-- left col -->
				<h3>Repair details</h3>	
				
				
					<div class="col-md-4">
				    <h4>Repair:</h4>
						<h4>Cost:</h4>
						<h4>Repair Time:</h4>
				   </div>
					<div class="col-md-8" align="right">
				    <h6>iPhone 4 Display</h6>
					<h6>80 &#8364;</h6> 
					<h6>30 Min</h6> 
				</div>	
			 </div>
			<!-- Right col-->
		<div class="col-md-5">
		<h3>Appointment details</h3>
			
		 <!-- place holder-->

		
		<div class="col-md-4">
	    <h4>Technician:</h4>
			<h4>Contact:</h4>
			<h4>Time:</h4>
			<h4>Date:</h4>
	   </div>
		<div class="col-md-8" align="right">
	    <h6>John Doe</h6>
		<h6>+491712345678</h6> 
		<h6>18:00</h6>
		<h6>13/06/2014</h6>
		  
		</div>
		
		
		
		  
	 </div>
			
		    <div class="col-md-2">
				</div>
			
		    <div class="col-md-2">
			<!-- Button -->
			<div class="control-group">
			  <label class="control-label" for="back"></label>
			  <div class="controls">
			    <button id="back" name="back" class="btn btn-primary">Back</button>
			  </div>
			</div>
			
			</div>
			
		    <div class="col-md-4">
				</div>
				<div class="col-md-2" align="right">
					

			<!-- Button -->
			<div class="control-group">
			  <label class="control-label" for="singlebutton"></label>
			  <div class="controls">
			    <button id="singlebutton" name="singlebutton" class="btn btn-success">Book Repair</button>
			  </div>
			  
			</div>
		    <div class="col-md-2">
				</div>
			
			 
   </div>
			 
     </div>
	 
	 </div>
	</div>
     </div>