#{extends 'master.html' /}
#{set title:'Easyfix - The smartway to get your broken phone fixed.' /}

 <section id="home">
	<div class="container">
		<div class="row">
			<center>
				<h3>Get your phone fixed by one of our highly-skilled technicians who come to your location.</h3>
			</center>
		</div>
             <center>
             <a href="/ExternalTechnicians/showall"><p>Or visit one of our certified partner repair shops.</p></a></center>
	</div>
	<p>
		<div class="form-group">
			<form onsubmit="codeAddress(); return false;">
				<div class="text-right">
					<div class="col-md-4">
						<button type="button" onclick="getPosition();" class="btn btn-default"><i class="glyphicon glyphicon-pushpin"></i></button>
					</div>
				</div>
				<div class="col-md-4">
					<input id="my-address" onblur="codeAddress();" onchange="codeAddress();" type="text" class="form-control" placeholder="Your Location">
				</div>			
				<div class="col-md-4">
				<!-- onclick="codeLatLng()" -->
					<input type="submit" value="Check for repair" onclick="codeAddress();" class="btn btn-default" />
				</div>
			</form>
		</div>
		<center><br/><br/>
		#{list items:exTechnicians, as:"technician"}
				<img src="${'/public/images/technicians/'+technician.image}" class="repairLogo" />
				<p class="repairHeading">${technician.lastName}</p>
				<p class="repairHeading">${technician.title}</p>
				<br />
				<p class="details">${technician.description}</p>
				<p class="details">${technician.contactInformation.address.city},${technician.contactInformation.address.zip},${technician.contactInformation.address.street},${technician.contactInformation.address.streetNo}</p>
				<p class="details">${technician.contactInformation.website}</p>
		#{/list}
		<br/><br/>

			<!-- self generated script -->

			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
			<article>
			</article>
			<script>
				var map;
				var mapcanvas;
				var geocoder;
				var infowindow = new google.maps.InfoWindow();
				var marker;
				var userLatLng;
				
				var icons = {
				  ownPosition: {
				    icon: 'http://maps.google.com/mapfiles/kml/paddle/red-stars.png'
				  },
				  repairShop: {
				    //too big: icon: 'http://s1.directupload.net/images/140623/kfdn86tx.png'
				    //icon: 'http://s1.directupload.net/images/140623/z7ecadzh.png'
				    icon: 'http://s1.directupload.net/images/140623/oexdi2rp.png'
				    
				  }
				};
				
				function initialize() {
				
					//create map
					mapcanvas = document.createElement('div');
					mapcanvas.id = 'mapcanvas';
					mapcanvas.style.height = '300px';
					mapcanvas.style.width = '750px';
					document.querySelector('article').appendChild(mapcanvas);
					
					var myOptions = {
							zoom: 13,
							center: new google.maps.LatLng(48.1407833,11.5773697),
							mapTypeControl: false,
							mapTypeId: google.maps.MapTypeId.ROAD,
							mapTypeControl: false,
					    	streetViewControl: false,
					    	panControl: false,
					    	zoomControlOptions: {
					    		position: google.maps.ControlPosition.LEFT_TOP
					    	}
						};
					map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);
					
					//hide map
					hideMap();
				
					//begin of autocomplete function
					var address = (document.getElementById('my-address'));
					var autocomplete = new google.maps.places.Autocomplete(address);
					autocomplete.setTypes(['geocode']);
					google.maps.event.addListener(autocomplete, 'place_changed', function() {
						var place = autocomplete.getPlace();
						if (!place.geometry) {
							return;
						}
						var address = '';
						if (place.address_components) {
							address = [
								(place.address_components[0] && place.address_components[0].short_name || ''),
								(place.address_components[1] && place.address_components[1].short_name || ''),
								(place.address_components[2] && place.address_components[2].short_name || '')
								].join(' ');
						}
					});
					//end of autocomplete function
					
					//for reverse geocoding
					geocoder = new google.maps.Geocoder();
					
					// add a click event handler to the map object
		            google.maps.event.addListener(map, "click", function(event)
		            {
		            	alert("lat:"+event.latLng.lat()+" lng:"+event.latLng.lng());
		                // place a marker
		                addMarker(event.latLng,'ownPosition','Text');
		
		                // display the lat/lng in your form's lat/lng fields
		                //document.getElementById("latFld").value = event.latLng.lat();
		                //document.getElementById("lngFld").value = event.latLng.lng();
		            });
				}
				
				//for reverse geocoding:
				function codeLatLng() {
					var input = '40.714224,-73.961452';
					var latlngStr = input.split(',', 2);
					var lat = parseFloat(latlngStr[0]);
					var lng = parseFloat(latlngStr[1]);
					var latlng = new google.maps.LatLng(lat, lng);
					geocoder.geocode({'latLng': latlng}, function(results, status) {
						if (status == google.maps.GeocoderStatus.OK) {
							if (results[1]) {
								map.setZoom(11);
								marker = new google.maps.Marker({
									position: latlng,
									map: map,
									clickable:	true
								});
								infowindow.setContent(results[1].formatted_address);
								infowindow.open(map, marker);
							} else {
								alert('No results found');
							}
						} else {
							alert('Geocoder failed due to: ' + status);
						}
					});
				}
				
				function getPosition() {

					showMap();
					insertDatabaseMarkers();

					//if location allowed -> locate
					if (navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(success, error);
					} else {
						error('HTML5 not supported');
					}
				}
				
				//location is allowed
				function success(position) {
					//get device location and center map
					var googleLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
					var myOptions = {
						zoom: 13,
						center: googleLatLng,
						mapTypeControl: false,
						mapTypeId: google.maps.MapTypeId.ROAD,
						mapTypeControl: false,
				    	streetViewControl: false,
				    	panControl: false,
				    	zoomControlOptions: {
				    		position: google.maps.ControlPosition.LEFT_TOP
				    	}
					};
					map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);
					
					addMarker(googleLatLng,'ownPosition', 'You are here! (at least within a '+position.coords.accuracy+' meter radius)');
					
					//call ajax to get markers from database
					//lat = position.coords.latitude
					//lng = position.coords.longitude
					
					//get back the lat2 and lng2 --> calculate distance and color markers
					
					insertDatabaseMarkers();
				}
				
				function error(msg) {
					var errorType = {
						0:"Unknown Error",
						1:"Permission denied by the user",
						2:"Position of the user not available",
						3:"Request timed out"
					};
				
					var errMsg = errorType[msg.code];
				
					if(msg.code == 0 || msg.code == 2){
						errMsg = errMsg+" - "+msg.message;
					}
				
					$("p").html(errMsg);
				}
				
				//click in the map event?
				/*myListener = google.maps.event.addListener(map, 'click', function(event) {
					alert("works");
					placeMarker(event.latLng);
					google.maps.event.removeListener(myListener);
				});*/
				
				function addMarker(position,type,title,content) {
					var marker = new google.maps.Marker({
						position:	position,
						icon:		icons[type].icon,
						map:		map,
						title:		title,
						clickable:	true//,
						//animation:	google.maps.Animation.DROP
					});
					
					// Create info window. In content you can pass simple text or html code.
					var infowindow = new google.maps.InfoWindow({
						content: content,
						maxWidth: 150
					});
					 
					// Add listener for marker. You can add listener for any object
					google.maps.event.addListener(marker, "click", function() {
						infowindow.open(map, marker);
					});
					
					if(type=='ownPosition')
						map.panTo(position);
				}
				
				function insertDatabaseMarkers() {
					$.get( "/Technicians/"+userLatLng.lat()+"/"+userLatLng.lng()+"/5000", function( data) {
						  //$( ".result" ).html( data );
//						  alert( "Load was performed."+data );
						  var obj = jQuery.parseJSON(data);
						  $.each(obj, function (key,value) {
							  addMarker(new google.maps.LatLng(value.latitude, value.longtitude),'repairShop',value.name,'<span style="font-weight: bold;text-align:left;">Name: '+value.name+'<br />Rating: '+value.rating+'</span>');
							//alert(value.name + " has "+value.rating+" rating!");
				    			//$('#campaign_keywords').append("<p>"+data.keywords[i]+"</p>");
				    			//alert(name + " has "+rating+" rating!");
				    			//alert(userLatLng+ "|"+ userLatLng.lat() + "|" + userLatLng.lng());
				    			
				});
						  
						});
					//addMarker(new google.maps.LatLng(48.13743,11.57549),'repairShop','MUC-Phone-Fix','<h4>Name: Abc<br />Rating: 4.0</h4>');
					
					//var garLatLng = new google.maps.LatLng(48.264152,11.6688);
					//addMarker(garLatLng,'repairShop','TUM Phone Repair','<h4>Name: Abc<br />Rating: 4.0</h4>');
				}
				
				function showMap() {
					var e = document.getElementById("mapcanvas");
					e.style.display = 'block';
				}
				
				function hideMap() {
					var e = document.getElementById("mapcanvas");
					e.style.display = 'none';
				}
				
				function toggleMap() {
			    	var e = document.getElementById("mapcanvas");
			    	if(e.style.display == 'block') {
			    		//invisible
			    		e.style.display = 'none';
			    	} else {
			    		//visible
			    		e.style.display = 'block';
			    	}
			    }

				function codeAddress() {
				
					geocoder = new google.maps.Geocoder();
					var address = document.getElementById("my-address").value;
					geocoder.geocode( { 'address': address}, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						//alert("Latitude: "+results[0].geometry.location.lat());
						//alert("Longitude: "+results[0].geometry.location.lng());
						//map.setCenter();
						
						var newLatLng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
						userLatLng = newLatLng;
						var myOptions = {
							zoom: 13,
							center: newLatLng,
							mapTypeControl: false,
							mapTypeId: google.maps.MapTypeId.ROAD,
							mapTypeControl: false,
					    	streetViewControl: false,
					    	panControl: false,
					    	zoomControlOptions: {
					    		position: google.maps.ControlPosition.LEFT_TOP
					    	}
						};
						map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);
						showMap();
						insertDatabaseMarkers();
						addMarker(newLatLng,'ownPosition', 'Searched Position');
					}});
				}

				google.maps.event.addDomListener(window, 'load', initialize);
			</script>
			<!-- end of self generated script -->
		</center>		
	</p>
</section>