#{extends 'main.html' /} #{set title:'Maker' /}

<div class="middlePageContentContainer">
	<div style="margin: 0 auto; width: 750px;">
		#{list items:exTechnicians, as:"exTech"}
		<div class="repairListItem">
			<img src="${'/public/images/repairs/'+deviceRepair.image}"
				class="repairLogo" />
			<p class="repairHeading">${exTech.lame}</p>
			<p class="repairHeading">${exTech.title}</p>
			<br />
			<p class="details">${exTech.description}</p>
			<p class="details">${exTech.contactInformation.city}</p>
			<p class="details">${exTech.contactInformation.website}</p>
			
		</div>
		#{/list}
	</div>
</div>