#{extends 'master.html' /} #{set title:'EasyFix - My History'/} #{set
menu_item:'menu_profile' /} #{set moreScripts:'bootstrap.min.js' /}
<script type="text/javascript">
	$(document).ready(function(){
	    $(".tooltips button").tooltip({
	        placement : 'top'
	    });
		
	</script>
<!-- #{include 'breadcrumbs.html'/} -->
<!-- #{set moreScripts:'star-rating.min.js' /} -->
<div class="container">
	<!-- Big Column #1 -->
	<div class="col-md-2"></div>
	<!-- Big Column #2 -->
	<div class="col-md-8">
		<section id="payment">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>
						<a href="/Profile/index/${customerid}"> My Account </a> | History
					</h3>
					</br>
					<div class="well">
						<h5>My Repairs</h5>
						<!-- Table -->
						<table class="table">
							<tr>
								<th>Description</th>
								<th>Date/Time</th>
								<th>Rating</th>
								<th>Price  </th>
								<th>Payment</th>
								<th></th>
							</tr>
							#{list items:appointments, as:"appointment"}
							<tr>
								<td>${appointment.getDeviceRepair().description}</td>
								<td>${appointment.getDate()}
									${appointment.getStartTime()}</td>
								<td>
								  <input id="rating"  class="rating" value="${appointment.getRating().rating}" data-disabled="true" data-size="m" data-show-caption="false" data-show-clear="false">
			</td>
								<td>${appointment.getDeviceRepair().price} &euro;</td>
								<td>${appointment.getStatus()}</td>
								<td><ul class="tooltips">
						<form class="form-horizontal" id="index" action="/Feedback/index"
							method="get">
								<!-- hidden values from previous request -->
							<input type="number" name="customerid" id="customerid" value=${appointment.customerId} hidden="true">
							<input type="number" name="repairId" id="repairId" value=${appointment.deviceRepairId} hidden="true">
							<button type="submit" class="btn btn-primary" data-toggle="tooltip" 
												data-original-title="Click here to view status of repair">View</button>
									</form></ul></td>
							</tr>
							#{/list}
						</table>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>